In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression,BayesianRidge,LogisticRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier
from sklearn.neighbors import KNeighborsRegressor,KNeighborsClassifier
from sklearn.ensemble import GradientBoostingRegressor,GradientBoostingClassifier
from sklearn.svm import SVR,SVC
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as py
import seaborn as sb
sb.set(rc={"figure.figsize":(10,5)})
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
stop = stopwords.words('english')
from sklearn.feature_extraction.text import CountVectorizer
c=CountVectorizer()
from nltk.stem import PorterStemmer,WordNetLemmatizer
s=PorterStemmer()
l=WordNetLemmatizer()

In [2]:
t=pd.read_csv("D:/Datasets/Twitter sentiment analysis/train_E6oV3lV.csv")

In [3]:
t

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
...      ...    ...                                                ...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

In [4]:
t["tweet"][1]

"@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked"

In [5]:
t.drop("id",axis=1,inplace=True)

In [6]:
t

       label                                              tweet
0          0   @user when a father is dysfunctional and is s...
1          0  @user @user thanks for #lyft credit i can't us...
2          0                                bihday your majesty
3          0  #model   i love u take with u all the time in ...
4          0             factsguide: society now    #motivation
...      ...                                                ...
31957      0  ate @user isz that youuu?ðððððð...
31958      0    to see nina turner on the airwaves trying to...
31959      0  listening to sad songs on a monday morning otw...
31960      1  @user #sikh #temple vandalised in in #calgary,...
31961      0                   thank you @user for you follow

[31962 rows x 2 columns]

In [7]:
t.label.value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [8]:
t["tweet"]=t["tweet"].apply(lambda x: l.lemmatize(x))

In [9]:
t["tweet"]=t["tweet"].apply(lambda x: " ".join([i for i in x.split() if i.startswith("#")==False and i.startswith("@")==False ]))

In [10]:
t["tweet"]=t["tweet"].apply(lambda x:word_tokenize(x))

In [11]:
t["tweet"]

0        [when, a, father, is, dysfunctional, and, is, ...
1        [thanks, for, credit, i, ca, n't, use, cause, ...
2                                  [bihday, your, majesty]
3        [i, love, u, take, with, u, all, the, time, in...
4                            [factsguide, :, society, now]
                               ...
31957    [ate, isz, that, youuu, ?, ððððð...
31958    [to, see, nina, turner, on, the, airwaves, try...
31959    [listening, to, sad, songs, on, a, monday, mor...
31960                  [vandalised, in, in, condemns, act]
31961                       [thank, you, for, you, follow]
Name: tweet, Length: 31962, dtype: object

In [12]:
t["tweet"]=t["tweet"].apply(lambda x: [i for i in x if i.isalpha()])

In [13]:
t["tweet"]=t["tweet"].apply(lambda x: [i for i in x if i not in stop])

In [14]:
t["tweet"]=t["tweet"].apply(lambda x: [i.lower() for i in x])

In [15]:
t["tweet"]=t["tweet"].apply(lambda x: " ".join([i for i in x]))

In [16]:
mat=pd.DataFrame(c.fit_transform(t["tweet"]).toarray(),columns=c.get_feature_names(),index=None)
mat

,aa,aaa,aaaaa,aaaaaand,aaaaah,aaaaand,aaahh,aaahhhh,aaahhhhh,aaand,...,zucchini,zulu,zuma,zurich,zx,zydeco,zz,zzz,zzzzzz,zzzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31957,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31958,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31959,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31961,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
cross_val_score(LogisticRegression(),mat,t["label"],cv=10).mean()

C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ANACONDA\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9491895170808992

In [18]:
from sklearn.naive_bayes import MultinomialNB
cross_val_score(MultinomialNB(),mat,t["label"],cv=10).mean()

0.9314496283476021